---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/stopsbylocation?api_key=wX9NwuHnZU2ToO7GmGR9uw&format=json&lat=42.363114&lon=-71.191223
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stop":[{"stop_id":"8181","stop_name":"Watertown St @ Fifth St","parent_station":"","parent_station_name":"","stop_lat":"42.363114","stop_lon":"-71.191223","distance":"0"},{"stop_id":"8176","stop_name":"Watertown
        St @ Fifth Ave","parent_station":"","parent_station_name":"","stop_lat":"42.362933","stop_lon":"-71.191427","distance":"0.0162406731396914"},{"stop_id":"8175","stop_name":"Watertown
        St @ Morse St","parent_station":"","parent_station_name":"","stop_lat":"42.362644","stop_lon":"-71.19201","distance":"0.0515512116253376"},{"stop_id":"8182","stop_name":"Watertown
        St opp Morse St","parent_station":"","parent_station_name":"","stop_[...]
