---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/stopsbyroute?api_key=wX9NwuHnZU2ToO7GmGR9uw&format=json&route=52
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"direction":[{"direction_id":"0","direction_name":"Outbound","stop":[{"stop_order":"1","stop_id":"900","stop_name":"Watertown
        Yard","parent_station":"","parent_station_name":"","stop_lat":"42.364307","stop_lon":"-71.185703"},{"stop_order":"2","stop_id":"902","stop_name":"Galen
        St @ Boyd St","parent_station":"","parent_station_name":"","stop_lat":"42.360008","stop_lon":"-71.185448"},{"stop_order":"3","stop_id":"1900","stop_name":"Centre
        St @ Pearl St","parent_station":"","parent_station_name":"","stop_lat":"42.358456","stop_lon":"-71.185026"},{"stop_order":"4","stop_id":"903","stop_name":"Washington
        St @ Bacon St","parent_station":"","parent_station_name":"","stop_lat":"42.357134[...]
